VITE_GISCUS_REPO=dieWehmut/dieWehmut.github.io
VITE_GISCUS_REPO_ID=R_kgDOP5hKOw
VITE_GISCUS_CATEGORY=General
VITE_GISCUS_CATEGORY_ID=DIC_kwDOP5hKO84C9_Uq
VITE_GISCUS_MAPPING=pathname
VITE_GISCUS_STRICT=0
VITE_GISCUS_REACTIONS_ENABLED=1
VITE_GISCUS_INPUT_POSITION=bottom
VITE_GISCUS_THEME=nexus
VITE_GISCUS_LANG=zh-CN
