PORT=8080
GIN_MODE=debug
GITHUB_TOKEN=
GITHUB_API_BASE=https://api.github.com
ALLOWED_ORIGINS=https://diewehmut.github.io,https://www.hc-dsw-nexus.me,https://hc-dsw-nexus.vercel.app,http://localhost:5173,http://127.0.0.1:5173
